<h1>Lists#index</h1>
<p>Find me in app/views/lists/index.html.erb</p>

<% @lists.each do |list| %>
  <p><%= list.name %></p>
  <%= link_to "See list details", list_path(list) %>
<% end %>

<%= link_to "Add new list", new_list_path %>