// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;

// Primary
$purple: #8B63FF;
$dark-purple: #412f79;

// Grayscale
$gray: #2e2e2e;
$light-gray: #b2b2b2;
$white: #FFFFFF;