// Home
.banner {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  text-align: center;

  h1 {
    font-weight: bold;
    color: $purple;
    font-size: 3rem;
  }
}

.main-img {
  width: 22rem;
}

//  List

.list-banner {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), asset-url('movie.jpg');
  background-size: cover;
  padding: 0 100px;
  height: 300px;
  border-radius: 12px;
  display: flex;
  align-items: center;

  h2 {
    font-size: 2.5rem;
    color: $white;
    font-weight: 600;

  }
}