.card-main {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 12px;
  height: 300px;
  padding: 16px;
  text-align: center;
}

.card-main img {
  height: 150px;
}

.card-main h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}

.card-main p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}



// Card movie
.card-movie {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 12px;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
    border-radius: 12px 12px 0 0;
  }

  .card-movie-infos {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 14rem;

    .icon-rating {
      color: rgb(255, 196, 0);
    }
  }

  .movie-overview,
  .movie-rating {
    color: $light-gray;
  }

  .bookmark-delete {
    color: rgb(255, 45, 112);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
  }
}